body 
{
	font-family: 'Roboto', sans-serif; /*This is your font*/
}
#Wrapper1
/* This is the style for the wrapper */
{
	/*backgroud: url("HP.jpg")*/

	width: 100%;	 
	margin: 0 auto;
	padding:2px;
	
	

}
#header
{
	width: 70%;	 
	margin: 0 auto;
	padding:2px;
}
nav
{
	align-content:center;
	/*background-color: black;*/
	color:white;
	width: 100%;
	height:50px;
	text-align: center;
	/*padding:100px 40px 20px 40px; /*top,right,bottom,left*/
}
nav a
{
	color:black;
}

li {
	display: inline-block;
}

li a {
	text-decoration: none;
	padding: 10px 20px;
}
 nav ul
 {
 	padding:0;
 }
.brand
{
	float: center;
	color:black;
	margin:40px, 0px, 0px, 20px;
	padding-top: 20px;
	background:;
	font-size:150%;



}
.logo
{

}

#bkg {
background-color:#4E4DAA;
width: 100%;
position: center;
margin-top: 100px;
padding-bottom: 50px;
padding-top: 20px;
float:left;
height:200px;


}

.HeadingPhoto
{
	text-align: center;
	width:100%;
	
}

.HeadingPhoto img{
	width: 10%;
	padding-top:20px;
}

.MyWorks_HeadingDescription
{
	text-align: center;
}

#nav
{
	float: right;
	z-index:1;
	text-align:right; 
	overflow:auto; 
}

#center
{


}

#content
{
	
	width: 500px;
	margin:0 auto;
	padding:40px 0px 30px 0px;
	text-align: center;
}
#main
{

	/*border: 1px solid black;*/
	width: 100%;	 
	margin: 0 auto;
	/*padding:2px;*/
	float:left;
	padding:100px 40px 20px 40px; /*top,right,bottom,left*/ 

   
}

#middle
{
	padding:50px 40px 20px 80px;

}

footer
{
	background:blue;
	float: left;
   margin: 10px;
   max-width: 
   max-height:70%;
   padding: 10px;
	
}
.buttons
{
	background-color: red;
	height:200px;
	width:200px;
	z-index:1;
	position:10;
	margin:auto;
	overflow:auto;

	cursor:pointer;
}

#images {
	text-align: center;
	padding:40px;


}

#images li {
	display:inline-block;
	padding: 60px, 70px, 0px;
	height: 300px;
	/*width: 300px;*/

}

#images li img {
	height: 400px;
	width: 400px;
}

.video-container{
	width: 100%;
	padding: 20px
	padding-top: 40px;
	float: left;
}

.video-container li {
	display:inline-block;
	padding: 20px;
}

.video-container ul{
	text-align:center;
	position:center;
	margin:auto;
}

.video-container video {
	height: 300px;
	width:500px;
}
.video, .description
{
	/*float:left;*/
}
.description
{
/*padding:50px 20px;*/
/*font-size: 1em;*/
}
.video_2
{
	padding:2px;


}
#column_1
{
	float:left; 
	width:35%;
	padding-left:15%;
	padding-top: 15%;
	padding-left:5%;/*top,right,bottom,left*/
}
#column_2
{
	float:right;
	width:40%;
	padding-right:10%;
	padding-top: 17%;
}

#HS img
{
width:500px;
/*float:center;*/

}

#HS
{
	text-align: center;

}